<template>
  <LeftPanel />
  <MidPanel />
  <RightPanel />
</template>

<script setup>
import LeftPanel from '../panels/leftPanel.vue'
import MidPanel from '../panels/midPanel.vue'
import RightPanel from '../panels/rightPanel.vue'
</script>
