:root {
  --textWhite: #ddd;
  --backgroundColor: #151515;
}

*,
*::before,
*::after {
  font-weight: normal;
}

html {
  overflow-y: hidden;
  user-select: none;
  -webkit-user-select: none;
  font-family:
    'Open Sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

#mainBody {
  background: var(--backgroundColor);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--v-theme-secondary), var(--v-border-opacity));
  border-radius: 10px;
}

/*
**  Titlebar
*/
#titleBar {
  display: flex;
  background-color: #2f3241;
  height: 30px;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  -webkit-app-region: drag;
}

#titleText {
  vertical-align: middle;
  margin-left: 10px;
  font-weight: bold;

  display: none;
}

#logo {
  height: 30px;
  width: 30px;
  margin-left: 10px;

  display: none;
}

#NF .toolsBtn .v-list-item__prepend {
  flex-direction: column;
}

[aria-owns='v-menu-3'] {
  min-width: 10px;
  width: 20px;
  padding: 0 0 0 12px;
}

/*
**  Main
*/
#appMain {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

#topPanel,
#leftPanel,
#midPanel,
#bottomPanel,
#rightPanel,
#visualEditor,
#settingsPanel {
  display: flex;
  align-items: center;
}

.topPanelInner,
.leftPanelInner,
.midPanelInner,
.rightPanelInner,
.visualEditorInner,
.settingsPanelInner {
  height: 100%;
  width: 100%;
}

/*
**  Top
*/
#topPanel {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
}

/*
**  Left
*/
#leftPanel {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.leftPanelInner {
  display: flex;
}

.leftPanelTabs,
.leftPanelCard,
.leftPanelWindow {
  height: 100%;
}

.leftPanelInner .leftPanelTabs {
  border-right: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
  border-radius: 0;
}

#NF .leftPanelTab {
  min-width: 60px;
}

.fileManager::-webkit-scrollbar {
  width: 10px;
}

.fileManager::-webkit-scrollbar-thumb {
  background-color: rgba(var(--v-theme-secondary), var(--v-border-opacity));
  border-radius: 5px;
}

.fileManager::-webkit-scrollbar-track {
  background-color: transparent;
}

/*
**  Mid
*/
#midPanel {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  overflow-x: auto;
  overflow-y: hidden;
}

/*
**  Right
*/
#rightPanel {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
}

/*
**  Visual Editor
*/
#visualEditor {
  grid-row: 2 / 5;
  grid-column: 1 / 4;
}

.visualEditorCard {
  max-width: 100%;
  height: 100%;
}
/*
**  Settings
*/
#settingsPanel {
  grid-row: 2 / 5;
  grid-column: 1 / 4;
}

.settingsCard,
.settingsContainer {
  max-width: 100%;
  height: 100%;
}

/*
**  Context Menu
*/
.contextMenu {
  width: 100px;
  height: 0;
}

.contextMenuList {
  border: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
}

/*
**  Monaco
*/
#NF .addTabButton,
#NF .editorTabsWrapper,
#NF .editorTabs,
#NF .editorTab {
  height: 30px;
}

.editorTab {
  border-right: #202020 1px solid;
}

.monaco-editor,
.monaco-diff-editor,
.monaco-component,
.overflow-guard {
  width: 100% !important;
}

.editorContainer {
  background-color: #1b1b1b;
}

.editorContainer,
.editorContainerInner {
  width: 100%;
  height: 100%;
}

/*
**  Loading Screen
*/
#userSetup,
#loadingScreen {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  z-index: 1000;
  max-width: 100% !important;
  max-height: 100% !important;
  background-color: var(--backgroundColor);
}

/*
**  Restyles
*/
.v-overlay__scrim {
  background: #000;
}

.mdi-delete:hover {
  color: red;
}
